name: OpenSCM-CI
on: push

jobs:
  build:
    runs-on: ubuntu-latest
    strategy:
      matrix:
        python-version: [ '3.x', 'pypy3' ]
    name: Build docs Python ${{ matrix.python-version }}
    steps:
      - name: Checkout repository
        uses: actions/checkout@v2
      - name: Setup python
        uses: actions/setup-python@v1
        with:
          python-version: ${{ matrix.python-version }}
      - name: Installation
        run: |
          pip install --upgrade pip
          pip install -e .[docs]
      - name: Build documentation
        # treat warnings as errors (-W)...
        # ...but not when being nitpicky (-n)
        run: |
            sphinx-build -M html docs docs/build -qW
            sphinx-build -M html docs docs/build -Eqn -b coverage
            if [[ -s docs/build/html/python.txt ]]
            then
                echo
                echo \"Error: Documentation missing:\"
                echo
                cat docs/build/html/python.txt
                exit 1
            fi
